
.mainContainer {
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-content: center;
}

.inputBox {
    position: relative;
    width: 320px;
    display: flex;
    padding: 1rem;
}

.inputBox input {
    width: 290px;
    padding: 10px;
    border: 1px solid  #2e1e45;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    color: #FFF;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #FFF;
    text-transform: uppercase;
    transform: translateX(25px) translateY(-15px);
}

